@import "../../stylesheets/variables.scss";


.post-card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 50px;
  .link{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .img {
    height: 200px;
    width: 300px;
    img{
     width: 100%;
     height: 100%;
      }
  }

.edit{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right:10px ;
 img{
  width: 30px;
  height: 30px;
 }
}



  button {
    width: max-content;
    padding: 7.5px 15px;
    border: none;
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;

    &:hover {
      border: 1px solid white;
      background-color: $lightGreen;
      color: black;
    }
  }
}
      
