@import "../../stylesheets/variables.scss";


.home-container {
    .posts {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;

      .post {
        display: flex;
        gap: 100px;
       
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }

        .img {
          flex: 2;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 230px;
            background-color: $lightGreen;
            position: absolute;
            top: 20px;
            left: -20px;
            z-index: -1;
          }

          img {
            width: 100%;
            object-fit: cover;
            height: 230px;

          }
        }

        .content {
          flex: 5;
          display: flex;
          flex-direction: column;

          h1 {
            font-size: 48px;
          }
          .content-description {
            height: 120px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 18px;
          }

          button {
            width: max-content;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            background-color: white;
            border: 1px solid teal;
            color: teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }
  }