$lightGreen: #8dbebe;

.link {
    text-decoration: none;
    color: inherit;
  }

  @mixin button {
    width: max-content;
    padding: 7.5px 15px;
    border: none;
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;

    &:hover {
      border: 1px solid white;
      background-color: $lightGreen;
      color: black;
    }
  }